# Version control
.git
.gitignore

# Python
**/__pycache__/
**/.pytest_cache/
*.py[cod]
*$py.class
venv/
.env
**/.env
*.code-workspace
prover9-mace4-api/data/

# Docker
.dockerignore

# Editor directories
.vscode/

# Documentation
README*